img.Group-21628 {
  width: 128px;
  height: 32px;
  margin: 28px 26px 28px 0;
  object-fit: contain;
}
.API-Kits {
  width: 51px;
  height: 20px;
  margin: 2px 0 2px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Dev-Docs {
  width: 65px;
  height: 20px;
  margin: 14px 45px 14px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Forums {
  width: 53px;
  height: 20px;
  margin: 14px 57px 14px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Guides {
  width: 49px;
  height: 20px;
  margin: 14px 61px 38px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Shop {
  width: 36px;
  height: 20px;
  margin: 16px 74px 14px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Build-Earn {
  width: 84px;
  height: 20px;
  margin: -8px 26px 38px 13px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.GIGS-EVENTS {
  width: 104px;
  height: 20px;
  margin: 36px 42px 14px 0;
  opacity: 0.9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #0f4ebf;
}
.Freelance {
  width: 69px;
  height: 20px;
  margin: 17px 41px 15px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Hire-Developers {
  width: 110px;
  height: 20px;
  margin: 12px 0 15px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Events {
  width: 46px;
  height: 20px;
  margin: 13px 64px 39px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.IIFL-INCUBATOR {
  width: 106px;
  height: 20px;
  margin: 36px 40px 14px 0;
  opacity: 0.9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #0f4ebf;
}
.Discover-menu {
  width: 61px;
  height: 20px;
  margin: 16px 49px 14px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Get-Funded {
  width: 81px;
  height: 20px;
  margin: 14px 29px 38px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.NOVA-LEARN-menu {
  width: 88px;
  height: 20px;
  margin: 36px 58px 14px 0;
  opacity: 0.9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #0f4ebf;
}
.Algo-Trading-menu {
  width: 95px;
  height: 20px;
  margin: 2px 0 2px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Development {
  width: 95px;
  height: 20px;
  margin: 2px 0 2px 12px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.START-BUILDING {
  width: 112px;
  height: 20px;
  margin: 0 34px 14px 0;
  opacity: 0.9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #0f4ebf;
}
.NOVA-STORE {
  width: 88px;
  height: 20px;
  margin: 36px 58px 14px 0;
  opacity: 0.9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #0f4ebf;
}
.Group-21666 {
  height: 25px;
  width: 25px;
}
img.cable_white_24dp {
  width: 24px;
  height: 24px;
  margin: 0 12px 0 0;
  object-fit: contain;
}
img.description_black_24dp-1 {
  width: 24px;
  height: 24px;
  margin: 12px 12px 12px 0;
  object-fit: contain;
}
img.forum_black_24dp {
  width: 24px;
  height: 24px;
  margin: 12px 12px 12px 0;
  object-fit: contain;
}
.guide-div {
  margin-top: -24px;
}
img.integration_instructions_black_24dp {
  width: 24px;
  height: 24px;
  margin: 28px 12px 36px 0;
  object-fit: contain;
}
img.shop-icon {
  width: 24px;
  height: 24px;
  margin: 0px 12px 12px 0;
  object-fit: contain;
}
.start-wrapper {
  margin: 10px 1px 13px 0;
}
img.build_black_24dp {
  width: 13.2px;
    height: 13.2px;
    margin: 5px 12px 10px 0;
    object-fit: contain;
}
img.Group-21666 {
  width: 24px;
  height: 27px;
  margin: 0px 12px 11px 0;
  object-fit: contain;
}
.freelance-div {
  margin-top: -17px;
}
img.person_add_white_24dp {
  width: 24px;
  height: 24px;
  margin: 0px 12px 12px 0;
  object-fit: contain;
}
img.event_white_24dp {
  width: 24px;
  height: 24px;
  margin: 21px 12px 28px 0;
  object-fit: contain;
}
img.saved_search_white_24dp {
  width: 24px;
  height: 24px;
  margin: 0px 12px 12px 0;
  object-fit: contain;
}
img.account_balance_white_24dp {
  width: 24px;
  height: 24px;
  margin: 4px 9px 15px 0;
  object-fit: contain;
}
img.calculate_white_24dp {
  width: 24px;
  height: 24px;
  margin: 0 12px 0 0;
  object-fit: contain;
}
img.code_black_24dp {
  width: 24px;
  height: 24px;
  margin: 14px 12px 14px 0;
  object-fit: contain;
}

.GIGS-EVENTS {
  width: 104px;
  height: 20px;
  margin: 36px 42px 14px 0;
  opacity: 0.9;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  color: #0f4ebf;
}
.forum-div {
  margin-top: -8px;
}
.Rectangle-4897 {
  height: 40px;
  margin: 0 32px 0 0;
  padding: 11px 698px 10.1px 17.9px;
  border-radius: 11px;
  box-shadow: 0 7px 21px 0 rgba(37, 34, 117, 0.04);
  border: solid 1px var(--white);
  background-color: #f6f6f6;
}
.Rectangle-5917 {
  width: 1172px;
  height: 88px;
  margin: 0 0 0 26px;
  padding: 26px 72px 22px 68px;
  background-color: #fff;
}
.API-Buying-flow---Nova-Landing-Page---1 {
  width: 1366px;
  height: 2961px;
  padding: 0 0 5px;
  background-color: #fff;
}
.Path-19325 {
  width: 17.9px;
  height: 17.9px;
  margin: 1px 12.2px 0 0;
  opacity: 0.65;
  background-color: #241f55;
}
.Search {
  width: 41px;
  height: 17px;
  margin: 0 0 1.9px 12.2px;
  opacity: 0.65;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.5;
  letter-spacing: -0.24px;
  text-align: left;
  color: #241f55;
}
img.Group-21627 {
 
  margin: 32px 24px 8px -42px;
}
.login-div{
  margin: -30px 0 0 700px;
}
.row-div-wrapper{
  margin-top: 25px;
}
.Path-51949 {
  width: 15.6px;
  height: 16.2px;
  border: solid 2px #707070;
}
.Path-51953 {
  width: 28px;
  height: 28px;
  margin: 4px 24px 8px 32px;
}
.What-do-you-want-to-build-for {
  width: 419px;
  height: 39px;
  margin: 80px 79px 18px 2px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #000d4c;
}
.All {
  width: 18px;
  height: 20px;
  opacity: 0.93;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.28px;
  text-align: left;
  color: #fff;
}
.Rectangle-6280 {
  width: 50px;
  height: 30px;
  margin: 0 16px 0 0;
  padding: 5px 16px;
  border-radius: 30px;
  box-shadow: 0 6px 48px 0 rgba(28, 28, 28, 0.08);
  background-color: #06c;
}
.Algo-Trading {
  width: 98px;
  height: 20px;
  opacity: 0.93;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.28px;
  text-align: left;
  color: #06c;
}
.Rectangle-6534 {
  width: 330px;
  height: 340px;
  margin: 25px 24px 81px;
  padding: 31px 78px 39px 28px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
.Algo-Strategies {
  width: 217px;
  height: 39px;
  margin: 81px 58px 24px 2px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #000d4c;
}
.Rectangle-6490 {
  width: 275px;
  height: 255px;
  margin: 49px 0 0;
  padding: 44px 24px 24px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #fff 94%, #f9f9f9);
}
.Plug-Play-Services {
  width: 284px;
  height: 39px;
  margin: 80px 15px 24px 2px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #000d4c;
}
.Rectangle-4731 {
  width: 240px;
  height: 280px;
  margin: 24px 35px 80px 2px;
  padding: 24px 25px 24px 24px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.How-to-use-our-APIs {
  width: 276px;
  height: 39px;
  margin: 80px 23px 0 2px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #000d4c;
}
.To-walk-you-through-every-step-of-the-process {
  width: 369px;
  height: 23px;
  margin: 119px 129px 24px 2px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.13;
  letter-spacing: normal;
  text-align: left;
  color: #3d3d3d;
}
.Rectangle-6502 {
  width: 470px;
  height: 260px;
  margin: 24px 28px 0 2px;
  padding: 20px 0 0;
  border-radius: 20px;
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(299deg, #c0f786 103%, #11b9c8 25%);
}
.Rectangle-purple {
  width: 269px;
  height: 260px;
  margin: 24px 27px 0 25.3px;
  padding: 21px 0 0;
  border-radius: 20px;
  background-image: linear-gradient(224deg, #f80078 128%, #5e0db6 16%);
}
.Rectangle-yellow {
  width: 269px;
  height: 260px;
  margin: 24px 43px 0 6px;
  border-radius: 20px;
  background-image: linear-gradient(290deg, #ff7623 99%, #f35e56 81%, rgba(244, 92, 87, 0) 24%);
}
.search-link{
  margin: -16px 0 0 30px;
}
.Rectangle-5917 {
  width: 1172px;
  height: 88px;
  margin: 0 0 0 26px;
  padding: 26px 72px 22px 68px;
  background-color: #fff;
}
.Login {
  width: 38px;
  height: 20px;
  margin: 9px 30px 11px 24px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ff7623;
}
.Sign-up {
  width: 53px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Rectangle-5749 {
  width: 93px;
  height: 36px;
  margin: -38px 0 4px 770px;
  padding: 8px 20px;
  border-radius: 30px;
  box-shadow: 0 6px 48px 0 rgba(28, 28, 28, 0.08);
  background-color: #ff7623;
}
.Build-the-Future-of-Wealth-Technology {
  width: 572px;
  height: 39px;
  margin: 0 25px 7.9px 0;
  font-family: Poppins;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.56px;
  text-align: left;
  color: #000;
}

.search-input {
  margin: 26px 0 0 -94px;
    width: 70%;
}

.Scooter {
  width: 450px;
  height: 260px;
  margin: 0 0 1px;
  padding: 24px 109px 92px 32px;
  border-radius: 20px;
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(301deg, #1aa9d6 99%, #0b60f3 20%);
}
.Rectangle-5801 {
  width: 225px;
  height: 260px;
  margin: 0px 14px 16px 22px;
  padding: 27px 24px 23px;
  border-radius: 20px;
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(310deg, #ed0a86 98%, #fff300 -19%);
}
.Rectangle-5789 {
  width: 225px;
  height: 260px;
  margin: 0px 42px 35px 39px;
  border-radius: 20px;
  background-image: linear-gradient(
    290deg,
    #ff7623 99%,
    #f35e56 81%,
    rgba(244, 92, 87, 0) 24%
  );
}
.Start-Building-wrapper {
  width: 206px;
  height: 43px;
  margin: 0 69px 20px 0;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
img.Group-26410 {
  width: 40px;
  height: 40px;
  margin: 0 6px 8px 0;
  object-fit: contain;
}
.Path-76890 {
  width: 8.4px;
  height: 16px;
  border: solid 1px #fff;
  background-color: #ff9500;
}
.Rectangle-6447 {
  width: 40px;
  height: 40px;
  margin: 35px 6px 8px 0;
  border-radius: 16px;
  background-color: #fff;
}
.Rectangle-6453 {
  width: 40px;
  height: 40px;
  margin: -48px 14px 8px 70px;
  border-radius: 16px;
  background-color: #fff;
}
img.Group-26411 {
  width: 40px;
  height: 40px;
  margin: 0 14px 8px 0;
  object-fit: contain;
}
img.Group-26412 {
  width: 40px;
  height: 40px;
  margin: 0 34px 7px 0;
  object-fit: contain;
}
.Rectangle-6456 {
  width: 40px;
  height: 40px;
  margin: 0 34px 7px 0;
  border-radius: 16px;
  background-color: #fff;
}
.Rectangle-6457 {
  width: 40px;
  height: 40px;
  margin: -46px 34px 7px 212px;
  border-radius: 16px;
  background-color: #fff;
}
img.Group-23238 {
  width: 96.2px;
  height: 87.1px;
  margin: -130px 0 182px 321.5px;
  object-fit: contain;
}
.Rectangle-5781 {
  width: 450px;
  height: 68px;
  margin: -77px 20px 19px -32px;
  padding: 30px 34px 16px 32px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #5772d6;
  color: white;
}
.Get-Started {
  width: 81px;
  height: 20px;
  margin: 0 8px 0 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #0071e3;
}
.Hire-a-Developer {
  width: 155px;
  height: 75px;
  margin: 54px 86px 7px 0px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Hire-an-experienced-Developer-to-build-your-platform {
  width: 187px;
  height: 33px;
  margin: 56px ​43px 4px 2px;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
img.Group-21649 {
  width: 122px;
  height: 39px;
  margin: 15px 123px 15px -15px;
  object-fit: contain;
}
.-Specialists {
  width: 64px;
  height: 33px;
  margin: 2px 25px 1px 0;
  opacity: 0.8;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Rectangle-5802 {
  width: 225px;
  height: 68px;
  margin: -257px 0 0 -24px;
  padding: 16px 16px 16px 20px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  background-color: #ea34b2;
}
.Find-Talent {
  width: 78px;
  height: 20px;
  margin: 0 8px 0 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #0071e3;
}
.Rectangle-talent {
  width: 133px;
  height: 36px;
  margin: -51px 0 0 54px;
  padding: 8px 20px;
  border-radius: 30px;
  box-shadow: 0 6px 48px 0 rgba(28, 28, 28, 0.08);
  background-color: #fff;
}
img.Group-23244 {
  width: 64px;
  height: 57px;
  margin: 137px 0 66px 205px;
  object-fit: contain;
}
.Rectangle-5764 {
  width: 117px;
  height: 33px;
  margin: -51px 0 0 72px;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 0 6px 48px 0 rgb(28 28 28 / 8%);
  background-color: #fff;
}
img.east_black_24dp {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 8px;
  object-fit: contain;
}
.Rectangle-5765 {
  width: 14px;
  height: 14px;
  margin: -27px 0 3px 163px;
}
.Rectangle-talent-arrow{
  width: 14px;
  height: 14px;
  margin: -27px 0 3px 146px;
}
.NOVA-Learn {
  width: 180px;
  height: 43px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Learn-Fintech-Development-from-the-market-gurus {
  width: 170px;
  height: 33px;
  margin: 43px 10px 27px 0;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Image-161 {
  width: 269px;
  height: 214px;
  border-radius: 10px;
}
.Rectangle-5787 {
  width: 269px;
  height: 225px;
  margin: 0 0 35px;
  padding: 24px 65px 56px 24px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #fff;
  background-color: #fff;
}
img.Mask-Group-14436 {
  width: 584px;
  height: 417px;
  margin: -346px 12px 106px -15px;
  padding: 168px 0 0px 13px;
  object-fit: contain;
}
.Rectangle-6514 {
  width: 567px;
  height: 240px;
  margin: 35px 30px 80px 0;
  padding: 172px 0 0;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #fff;
  background-color: #fff;
}
.Rectangle-5795 {
  width: 571px;
  height: 68px;
  padding: 25px 32px 16px 36px;
  border-radius: 17px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: #fff;
  margin: -145px 0 0 -1px;
}
.NOVA {
  width: 42px;
  height: 17px;
  margin: 0 0 3px 0px;
  -webkit-text-stroke: 2px #000;
  font-family: Jura;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.32px;
  text-align: left;
  color: #fff;
}
.STORE {
  width: 42px;
  height: 12px;
  margin: 3px 0px 0 0;
  font-family: SansSerif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.97px;
  text-align: left;
  color: #000;
}
.Shop-Build-Promote-Earn {
  width: 221px;
  height: 23px;
  margin: -36px 106px 0 61px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.32px;
  text-align: left;
  color: #231e54;
}
.icon-images-wrapper {
  margin: 0 0 0 42px;
}
.Explore {
  width: 52px;
  height: 20px;
  margin: 0 8px 0 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Rectangle-5764 {
  width: 114px;
  height: 36px;
  margin: -46px 0 0 396px;
  padding: 8px 20px;
  border-radius: 30px;
  box-shadow: 0 6px 48px 0 rgba(28, 28, 28, 0.08);
  background-color: #0071e3;
}
.discover-button{
  width: 114px;
  height: 36px;
  margin: -35px 0 0 216px;
  padding: 8px 20px;
  border-radius: 30px;
  box-shadow: 0 6px 48px 0 rgba(28, 28, 28, 0.08);
  background-color: #0071e3;

}
img.east_black_24dp {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 8px;
  object-fit: contain;
}

.Rectangle-5799 {
  width: 366px;
  height: 238px;
  margin: 35px 43px 82px 58px;
  padding: 0.1px 0 0;
  border-radius: 20px;
  box-shadow: 0 3px 32px 0 rgb(0 0 0 / 8%);
  background-image: linear-gradient(
118deg, #000 3%, #233953 98%);
}
img.Group-19733 {
  width: 22px;
  height: 22px;
  margin:17px 8px 1px 20px;
  object-fit: contain;
}
.iifl-wrapper{
  margin: -29px 0 0 47px;
}
.IIFL-Incubator-idea {
  width: 127px;
  height: 25px;
  margin: 0 0 0 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.36px;
  text-align: left;
  color: #fff;
}
img.bulb1 {
  width: 37px;
  height: 136.3px;
  object-fit: contain;
  margin: -76px 0 0 297px;
}
img.bulb2 {
  width: 30px;
  height: 88.3px;
  object-fit: contain;
  margin: -125px 0 0 324px;
}
.have-wrapper{
  margin: -54px 0 0 0;
}
.Have-the-next-Big-Idea {
  width: 355px;
  height: 43px;
  margin: 2.5px 22px 0 24px;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.make-wrapper{
  margin: 10px  0 0 0;
}
.Make-a-big-splash-on-the-Fintech-scene {
  width: 238px;
  height: 17px;
  margin: 11.5px 139px 53px 24px;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Rectangle-5800 {
  width: 369px;
  height: 59px;
  margin: 82px 0 0;
  padding: 16px 32px 16px 24px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #6b6b6b;
}
.Pitch-Collaborate-and-Fund-your-Ideas-in-the-IIFL-Incubator {
  width: 202px;
  height: 33px;
  margin: 2px 88px 1px 0;
  opacity: 0.8;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Discover {
  width: 62px;
  height: 20px;
  margin: 0 8px 0 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
img.east_black_24dp {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 8px;
  object-fit: contain;
}
img.local_mall_black_24dp {
  width: 13.2px;
    height: 13.2px;
    margin: -8.8px 6.6px 0.6px 16px;
    object-fit: contain;
}
/* img.build_black_24dp {
  width: 13.2px;
  height: 13.2px;
  margin: 1.2px 6px 0.6px 6.6px;
  object-fit: contain;
  opacity: 0.3;
} */
img.campaign_black_24dp-1 {
  width: 13px;
    height: 13px;
    margin: -8px 8px 1px -6px;
    object-fit: contain;
}
.rs-icon{
  opacity: 0.3;
}
.Rectangle-5790 {
  width: 567px;
  height: 240px;
  margin: 35px 30px 80px 0;
  padding: 172px 0 0;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.Rectangle-5782 {
  width: 144px;
  height: 38px;
  margin: -72px 0 0 236px;
  padding: 8px 0px 16px 21px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #fff;
}
img.explore-button-arrow {
  width: 14px;
  height: 14px;
  margin: -16px 0 3px 64px;
  object-fit: contain;
}
.discover-button-arrow{
  margin: -24px 0 0 300px;
}
img.build-earn{
  width: 24px;
  height: 24px;
  margin: 0px 12px 12px 0;
  object-fit: contain;

}
img.Mask-Group-14441 {
  width: 130px;
    height: 130px;
margin: -51px 24px 82px -51px;
}
.user-free-div{
  margin: -156px 0 0 50px;
    background: #d6eed9;
    width: 35px;
    border-radius: 12px;
    height: 23px;
    text-align: center;
}
img.Group-25858 {
  width: 66.2px;
  height: 67.8px;
  object-fit: contain;
}

.Free {
  width: 24px;
  height: 16px;
  opacity: 0.87;
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #009161;
}
.Build-your-Fintech-Solutions {
  width: 163px;
  height: 17px;
  margin: 10px 98px 9px 0;
  opacity: 0.8;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}




img.Group-26413 {
  width: 40px;
  height: 40px;
  margin: 0 14px 7px 0;
  object-fit: contain;
}
.Rectangle-6456 {
  width: 40px;
  height: 40px;
  margin: -47px 14px 7px 140px;
  border-radius: 16px;
  background-color: #fff;
}
.Algo-Trading {
  width: 46px;
  height: 33px;
  margin: 8px 0 0;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Advisory-Solutions {
  width: 54px;
  height: 33px;
  margin: 8px 0 0;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Portfolio-Managment {
  width: 74px;
  height: 33px;
  margin: 7px 0 0;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Other-Solutions {
  width: 54px;
  height: 33px;
  margin: 7px 0 0;
  opacity: 0.7;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
